.bookmarks {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

//Шапка с заголовком и кнопкой
.bookmarks__header {
  width: 100%;
  margin: 0 auto;

  padding: 25px 0;
  margin-bottom: 20px;

  background-color: $azure-background;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.bookmarks h2 {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: $blue-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 30px;
    line-height: 30px;
  }
}

//Карточка
.bookmark__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.bookmark__item {
  width: 100%;
  padding: 17px;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid $grey-border;
  overflow: hidden;

  @media (min-width: 540px) {
    width: 48%;
  }

  @media (min-width: $tablet-width) {
    width: 31.2%;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
  }
}

.bookmark__item img {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bookmark__item h3 {
  margin-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: $black;
}

.bookmark__item p:nth-child(3) {
  margin-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: $grey-text;
}

.bookmark__item p:nth-child(4) {
  position: relative;

  width: 141px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 7px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $white;

  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: $red-button;
}

.bookmark__item p:nth-child(4)::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $white transparent transparent;
}

.bookmark__item p:nth-child(4)::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  transform: rotate(90deg);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $white transparent transparent;
}

.bookmark__item button {
  display: block;
  width: 100%;
  padding: 7px 3px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;

  background-color: $green-dark;
  border-radius: 0;
  border: 3px solid $green-dark;

  transition: all 0.2s ease-in-out;
}


.bookmark__item button svg {
  margin-right: 3px;
  fill: $white;
  opacity: 0.3;
}

/*=============СТАЙЛГАЙД============*/
//hover
.bookmark__item button:hover {
  background-color: $green;
  color: $white;

  border: 3px solid $green;
}

.bookmark__item--active button:hover {
  background-color: rgba($red, 0.8);
  color: $white;

  border: 3px solid $red;
}

.bookmark__item button:hover svg {
  opacity: 1;
}

//focus
.bookmark__item button:focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;
}

//active
.bookmark__item button:active {
  opacity: 0.5;
}

//disabled
.bookmark__item button:disabled {
  opacity: 0.2;
}
