.button {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: $white;

  cursor: pointer;
}

.button-red {
  padding: 11px 9px 9px 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 0;

  background-color: $red-button;
  border-color: $red-button;
}
