.filter__slider-block {
  width: 100%;
  margin: 20px auto;
  padding: 30px 0;
}

.filter__slider-legend {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
}

.filter__slider-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  padding: 0;

  list-style: none;
}

.filter__slider-item {
  width: 95px;
  margin-bottom: 20px;
}

.filter__slider-block input {
  width: 100%;
}

//Ползунок
.filter__slider {
  width: 60%;
  height: 12px;
  margin: 0 auto;
  border-radius: 10px;
}

.filter__slider .noUi-base {
  background-color: $grey-text;
}

.filter__slider .noUi-connect {
  background-color: $grey-text;
}

.filter__slider .noUi-handle {
  width: 20px;
  height: 20px;
  box-shadow: none;

  border-radius: 50%;
  border: 2px solid $red;
  background-color: $red;
}

.filter__slider .noUi-handle::before,
.filter__slider .noUi-handle::after {
  display: none;
}
