.logistics {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.logistics__wrapper-text {
  width: 100%;
  margin-bottom: 26px;
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    width: 90%;
  }
}

.logistics__wrapper-text p {
  margin: 0;
  margin-bottom: 5px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $black;
}

.logistics__wrapper-text p:first-child {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
}

.logistics__wrapper-text p:nth-child(2) {
  margin-bottom: 30px;
}

.logistics__list {
  @include reset-style-list;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.logistics__item {
  position: relative;

  padding-left: 37px;
}

.logistics__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 25px;
  height: 2px;
  background-color: $red;
}

.logistics__link {
  display: block;
  width: 100%;
  padding: 11px 0 9px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    width: 220px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
