.manufacturer {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

//Шапка с заголовком и кнопкой
.manufacturer__header {
  width: 100%;
  margin: 0 auto;

  padding: 25px 0;
  margin-bottom: 20px;

  text-align: center;
  background-color: $azure-background;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.manufacturer h2 {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: $blue-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 30px;
    line-height: 30px;
    text-align: start;
  }
}

.manufacturer__link-header {
  width: 192px;
}

//Карточки с лого производителей
.manufacturer__item {
  position: relative;
  padding-top: 60%;
  margin-bottom: 20px;
}

.manufacturer__link {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  cursor: pointer;

  border: 1px solid $grey-border;
  border-radius: 0;
  transition: all 0.2s ease-in-out;

  &--one img {
    width: 126px;
    height: 37px;
  }

  &--two img {
    width: 123px;
    height: 40px;
  }

  &--three img {
    width: 146px;
    height: 44px;
  }

  &--four img {
    width: 200px;
    height: 75px;
  }

  &--five img {
    width: 169px;
    height: 31px;
  }

  &--six img {
    width: 153px;
    height: 60px;
  }

  &--seven img {
    width: 151px;
    height: 98px;
  }

  &--eight img {
    width: 206px;
    height: 73px;
  }
}

/*=============СТАЙЛГАЙД============*/
//hover
.manufacturer__link:hover {
  box-shadow: 0 0 16px 0 rgba($black, 0.5);
}

//focus
.manufacturer__link-header:focus-visible,
.manufacturer__link:focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;
}

//active
.manufacturer__link:active {
  opacity: 0.5;
}
