.page-header {
  background-color: $blue-dark;
  margin-bottom: 70px;
}

.page-header__toggle {
  display: none;
}

/*=============Верхнее меню===============*/
.page-header__wrapper-top {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

//ЛОГОТИП
.page-header__logo-link-image {
  cursor: pointer;
}

.page-header__logo-link-image img {
  display: block;
  width: 220px;
  height: 47px;
}

//ПОИСК
.page-header__form {
  padding: 9px 0;
}

//попап
.page-header__wrapper-popup {
  position: relative;
  display: none;
}

.page-header__wrapper-popup--active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba($black, 0.7);
}

//кнопка закрыть попап
.page-header__button-close-popup {
  position: absolute;
  top: 50px;
  right: 50px;

  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.page-header__button-close-popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: top left;

  width: 56px;
  height: 2px;
  background-color: $white;
}

.page-header__button-close-popup::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: top right;

  width: 56px;
  height: 2px;
  background-color: $white;
}

//input
.page-header__wrapper-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
}

.page-header__wrapper-input input {
  width: 100%;
  padding: 10px 40px 10px 10px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $black;

  &--placeholder {
    color: rgba($black, 0.7);
  }
}

//Кнопка - открыть поиск
.page-header__button-submit {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  background-color: transparent;
}

.page-header__button-submit svg {
  fill: $black;
}

//Кнопка отправить запрос
.page-header__button-search {
  display: flex;
  align-items: center;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;

  border: none;
  background-color: transparent;
}

.page-header__button-search svg {
  width: 17px;
  height: 17px;
  margin-right: 8px;

  fill: $white;
}

//ЗАКЛАДКИ-КОРЗИНА
.page-header__list-navigation-user {
  @include reset-style-list;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
}

.page-header__item-navigation-user--bookmark {
  margin-right: 50px;
}

.page-header__link-navigation-user {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.page-header__link-navigation-user svg {
  margin-right: 8px;

  &--bookmark {
    width: 16px;
    height: 16px;
  }

  &--cart {
    width: 18px;
    height: 16px;
  }
}

.page-header__link-navigation-user span:nth-child(2) {
  margin-right: 6px;
}

//ОФОРМИТЬ ЗАКАЗ
.page-header__link-order {
  width: 140px;
  padding: 8px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;

  background-color: $green-dark;
  border-radius: 0;
}

/*=============Среднее меню===============*/
.page-header__wrapper-middle {
  margin-top: -5px;
  padding: 40px 0;
  background-color: $blue-light;
}

.page-header__middle {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

//Название интернет-магазина
.page-header__middle h1 {
  width: 250px;
  margin: 0;

  font-weight: 700;
  //font-style: italic;
  font-size: 22px;
  line-height: 27px;
  color: $white;
}

//Контакты
.page-header__link-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  padding: 7px;
  margin: 0 auto;
  margin-bottom: 3px;
  box-sizing: border-box;

  border: 3px solid $white;
  border-radius: 0;
}

.page-header__link-tel span {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: $red;
}

.page-header__link-tel svg {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.page-header__middle p {
  width: 250px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blue-light;
}

//Войти/регистрация
.page-header__wrapper-login {
  display: flex;
  justify-content: flex-end;
}

.page-header__link-login,
.page-header__link-registration {
  padding: 12px;
  background-size: border-box;

  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: $black;

  background-color: $white;
  border-radius: 0;
}

.page-header__link-login {
  width: 121px;
  margin-right: 10px;
}

.page-header__link-registration {
  width: 150px;
}

.page-header__link-login svg {
  margin-right: 8px;
  width: 20px;
  height: 17px;
}

/*=============Нижнее меню===============*/
.page-header__wrapper-bottom {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.page-header__list-navigation-site {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 53px;
  row-gap: 5px;

  padding: 16px 53px 20px 53px;
}

.page-header__link-navigation-site {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;

  transition: all 0.2s ease-in-out;
}
