.page-header {
  position: relative;
  padding-top: 50px;

  background-color: $blue-dark;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

//---------------Шапка на страницах при неработающем js
.page-header--page-form-lost {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-bottom: 70px;

  background-color: $white;
}

//Меню закрытo
.page-header--closed .page-header__wrapper-bottom {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

//Меню открыто
.page-header--opened .page-header__navigation {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;

  display: block;
  width: 100%;
  height: 100%;

  background-color: $blue-dark;
  overflow-y: scroll;
}

.page-header--opened .page-header__wrapper-middle {
  display: none;
}

.page-header--opened .page-header__button-search,
.page-header--opened .page-header__list-navigation-user {
  display: none;
}

//Меню при отключенном js
.page-header--nojs .page-header__form,
.page-header--nojs .page-header__wrapper-bottom {
  display: block;
}

.page-header--nojs .page-header__wrapper-middle {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-header--nojs .page-header__list-navigation-user {
  display: flex;
}

.page-header--nojs .page-header__toggle {
  display: none;
}

/*==============ЛОГОТИП/КНОПКА ПЕРЕКЛЮЧЕНИЯ МЕНЮ В МОБИЛЬНОЙ ВЕРСИИ============*/
//Логотип
.page-header__logo-link-image {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 10px;

  transition: all 0.2s ease-in-out;

  @media (min-width: 576px) {
    left: calc(10px + 3.1%);
  }

  @media (min-width: $tablet-width) {
    left: 6.5%;
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 470px);
  }
}

//---------Логотип на страницах при неработающем js
.page-header--page-form-lost .page-header__logo-link-image {
  position: static;
}

.page-header__logo-link-image[href] {
  cursor: pointer;
}

.page-header__logo-link-image img {
  display: block;

  width: 220px;
  height: 47px;
}

//Кнопка Открыть меню
.page-header__toggle {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  border: none;
  background-color: transparent;

  @media (min-width: 576px) {
    right: calc(10px + 3.1%);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--closed .page-header__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;

  transition: all 0.2s ease-in-out;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--opened .page-header__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: top left;

  width: 35px;
  height: 2px;
  background-color: $white;
}

.page-header--opened .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: top right;

  width: 35px;
  height: 2px;
  background-color: $white;
}

/*=============ВЕРХНЕЕ МЕНЮ===============*/
.page-header__wrapper-top {
  position: relative;

  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

//ПОИСК
.page-header__form {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-left: 240px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 9px 240px;
  }
}

.page-header__form--nojs {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

//Кнопка - открыть поиск
.page-header__button-search {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;

  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  @media (min-width: $desktop-width) {
    margin: 0;

    text-transform: capitalize;
  }
}

.page-header__form--nojs .page-header__button-search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__button-search svg {
  width: 17px;
  height: 17px;
  margin-right: 8px;

  fill: $white;
  opacity: 0.3;

  transition: all 0.2s ease-in-out;
}

//кнопка закрыть попап с поиском по сайту
.page-header__button-close-popup {
  position: absolute;
  top: 50px;
  right: 50px;

  display: block;
  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.page-header__button-close-popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: top left;

  width: 56px;
  height: 2px;
  background-color: $white;
}

.page-header__button-close-popup::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: top right;

  width: 56px;
  height: 2px;

  background-color: $white;
}

// поле поиска -input
.page-header__wrapper-input {
  position: relative;
}

.page-header__wrapper-input input {
  display: block;
  width: 100%;
  padding: 8px 40px 8px 10px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $black;

  transition: all 0.2s ease-in-out;

  &--placeholder {
    color: rgba($black, 0.7);
  }
}

//Кнопка отправить запрос
.page-header__button-submit {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.page-header__button-submit svg {
  fill: $black;

  transition: all 0.2s ease-in-out;
}

//ЗАКЛАДКИ-КОРЗИНА
.page-header__list-navigation-user {
  @include reset-style-list;

  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 18px;
  column-gap: 10%;

  @media (min-width: $tablet-width) {
    justify-content: center;
    column-gap: 4%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    column-gap: 6%;
  }
}

.page-header__item-navigation-user {
  width: 28%;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.page-header__link-navigation-user {
  display: block;
  padding: 9px 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;

  transition: all 0.2s ease-in-out;
}

.page-header__link-navigation-user--active {
  background-color: $red;
}

.page-header__link-navigation-user svg {
  margin-right: 8px;

  fill: $white;
  opacity: 0.3;

  transition: all 0.2s ease-in-out;

  &--bookmark {
    width: 16px;
    height: 16px;
  }

  &--cart {
    width: 18px;
    height: 16px;
  }
}

.page-header__link-navigation-user--active svg {
  opacity: 1;
}

.page-header__link-navigation-user span:nth-child(2) {
  display: none;
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
  }
}

//ОФОРМИТЬ ЗАКАЗ
.page-header__link-order {
  @include button;

  display: none;
  width: 100%;
  margin: 20px auto;
  padding: 9px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: $azure-dark-background;
  border-radius: 0;

  transition: all 0.2s ease-in-out;

  @media (min-width: $desktop-width) {
    display: block;
    width: 140px;
    margin: 0;

    text-transform: inherit;
  }
}

/*=============СРЕДНЕЕ МЕНЮ===============*/
.page-header__wrapper-middle {
  padding: 40px 0;
  background-color: $blue-light;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }
}

.page-header__middle {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

//Название интернет-магазина
.page-header__wrapper-title p {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin-bottom: 0;
  }
}

//Контакты
.page-header__link-tel {
  @include button;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 7px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box;

  border: 3px solid $white;
  background-color: transparent;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.page-header__link-tel span {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: $red;

  transition: all 0.2s ease-in-out;
}

.page-header__link-tel svg {
  width: 19px;
  height: 19px;
  margin-right: 16px;

  fill: $grey-svg;

  transition: all 0.2s ease-in-out;
}

.page-header__wrapper-contact p {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

//Войти/регистрация
.page-header__wrapper-login {
  display: none;
}

//Войти в личный кабинет
.page-header__wrapper-login-registration {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding: 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-header__link-login,
.page-header__link-registration {
  @include button;

  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  background-size: border-box;

  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: $black;

  background-color: $white;
  border-radius: 0;

  transition: all 0.2s ease-in-out;
}

.page-header__link-login {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 45%;
    margin-right: 10px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 121px;
  }
}

.page-header__link-registration {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.page-header__link-login svg {
  margin-right: 8px;
  width: 20px;
  height: 17px;

  fill: $grey-dark-svg;

  transition: all 0.2s ease-in-out;
}

//В личном кабинете
.page-header__wrapper-login--personal-cabinet {
  display: none;
}

.page-header__wrapper-login--personal-cabinet p:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 13px 15px;
  margin-bottom: 7px;
  box-sizing: border-box;

  background-color: $white;
}

.page-header__link-personal {
  display: flex;
}

.page-header__link-personal span {
  margin-left: 21px;

  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: $black;
}

.page-header__link-personal svg {
  width: 20px;
  height: 18px;

  fill: $grey-dark-svg;
}

.page-header__link-exit svg {
  width: 20px;
  height: 17px;

  fill: $grey-dark-svg;
}

.page-header__wrapper-login--personal-cabinet p:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.page-header__link-my-order,
.page-header__link-personal-cabinet {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $white-text;
}

.page-header__link-my-order {
  position: relative;
}

.page-header__link-my-order::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(50%, -50%);

  width: 6px;
  height: 6px;

  background-color: $white-text;
  border-radius: 50%;
}

//Открыто
.page-header__wrapper-login--active {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*=============НИЖНЕЕ МЕНЮ===============*/
.page-header__wrapper-bottom {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.page-header__list-navigation-site {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 2px 0;
    column-gap: 5px;
    row-gap: 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 29px;
  }
}

.page-header__item-navigation-site {
  width: 100%;
  text-align: center;

  box-shadow: inset 0 1px 0 $blue-shadow;

  @media (min-width: $tablet-width) {
    width: auto;
    box-shadow: none;
  }
}

.page-header__link-navigation-site {
  display: block;
  padding: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $white;
  text-transform: uppercase;

  transition: all 0.2s ease-in-out;

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 24px 18px 24px;

    text-transform: capitalize;
  }
}

.page-header__link-navigation-site--active {
  background-color: $blue-light-active;
  color: rgba($white, 0.8);
}

/*=============СТАЙЛГАЙД============*/
//hover
.page-header__logo-link-image[href]:hover {
  opacity: 0.7;

  cursor: pointer;
}

.page-header__button-search:hover,
.page-header__link-my-order:hover,
.page-header__link-personal-cabinet:hover {
  color: $yellow;
}

.page-header__link-navigation-site[href]:hover,
.page-header__link-navigation-user:hover {
  background-color: $blue-shadow;
}

.page-header__link-navigation-user--active:hover {
  background-color: $red-button;
}

.page-header__link-navigation-user:hover svg {
  opacity: 1;
}

.page-header__link-order:hover {
  background-color: rgba($azure-dark-background, 0.8);
}

.page-header__link-tel:hover {
  border: 3px solid $yellow;
}

.page-header__link-tel:hover span {
  color: $white;
}

.page-header__link-tel:hover svg {
  fill: $white;
}

.page-header__button-close-popup:hover::after,
.page-header__button-close-popup:hover::before {
  background-color: $yellow;
}

.page-header--closed .page-header__toggle:hover::after,
.page-header--closed .page-header__toggle:hover::before {
  box-shadow: 0 10px 0 0 $yellow, 0 20px 0 0 $yellow;
  background-color: $yellow;
}

.page-header--opened .page-header__toggle:hover::after,
.page-header--opened .page-header__toggle:hover::before {
  background-color: $yellow;
}

.page-header__button-search:hover:hover svg,
.page-header__button-submit:hover svg {
  fill: $yellow;
  opacity: 1;
}

.page-header__link-login:hover,
.page-header__link-registration:hover {
  color: $yellow;
}

.page-header__link-login:hover svg {
  fill: $blue-text;
}

.page-header__link-personal:hover svg,
.page-header__link-exit:hover svg {
  fill: $yellow;
}

//focus
.page-header__logo-link-image[href]:focus-visible,
.page-header__link-navigation-site[href]:focus-visible,
.page-header__link-login:focus-visible,
.page-header__link-registration:focus-visible,
.page-header__link-order:focus-visible,
.page-header__link-tel:focus-visible,
.page-header__link-navigation-user:focus-visible,
.page-header__toggle:focus-visible,
.page-header__button-search:focus-visible,
.page-header__button-submit:focus-visible,
.page-header__button-close-popup:focus-visible,
.page-header__wrapper-input input:focus-visible,
.page-header__link-my-order:focus-visible,
.page-header__link-personal-cabinet:focus-visible,
.page-header__link-personal:focus-visible,
.page-header__link-exit:focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;
}

//active
.page-header__logo-link-image[href]:active,
.page-header__link-navigation-site[href]:active,
.page-header__link-order:active,
.page-header__link-tel:active,
.page-header__link-navigation-user:active,
.page-header__toggle:active,
.page-header__button-search:active,
.page-header__button-submit:active,
.page-header__button-close-popup:active,
.page-header__wrapper-input input:active {
  opacity: 0.5;
}

.page-header__link-my-order:active,
.page-header__link-personal-cabinet:active {
  opacity: 0.5;
  color: $white;
}

.page-header__link-personal:active svg,
.page-header__link-exit:active svg,
.page-header__link-login:active svg {
  opacity: 0.5;
  fill: $grey-dark-svg;
}

.page-header__link-login:active,
.page-header__link-registration:active {
  color: rgba($grey-dark-svg, 0.7);
}
