.pagination__list {
  @include reset-style-list;
  display: flex;
  column-gap: 10px;
}

.pagination__link {
  @include font-pt-sans;

  padding: 10px 15px;

  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $grey-dark-border;
  border-radius: 2px;

  transition: all 0.2s ease-in-out;
}

.pagination__link--active {
  color: $white;

  background-color: $red;
  border: 1px solid $red;
}

/*=============СТАЙЛГАЙД============*/
//hover
.pagination__link:not(.pagination__link--active):hover {
  border: 1px solid $grey-dark-svg;
}

//focus
.pagination__link:not(.pagination__link--active):focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;
}

//active
.pagination__link:not(.pagination__link--active):active {
  background-color: transparent;
  border: 1px solid $red;
}
