.products {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

//Шапка с заголовком и кнопкой
.products__header {
  width: 100%;
  margin: 0 auto;

  padding: 25px 0;
  margin-bottom: 20px;

  text-align: center;
  background-color: $azure-background;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.products h2 {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: $blue-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 30px;
    line-height: 30px;
    text-align: start;
  }
}

.products__button {
  width: 192px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 0;
}

//Карточки товаров

.products__item {
  position: relative;
  padding: 5px 0 0;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid $grey-border;
  overflow: hidden;
}

.products__wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 164px;
}

.products__description {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  padding: 21px 0;

  background-color: $azure-background;
}

.products__item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: $black;
}

.products__item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: $grey-text;
}

.products__item-button {
  position: relative;

  display: block;
  width: 141px;
  margin: 0 auto;
  padding: 7px 0;

  border-radius: 0;
  border: none;
  box-shadow: none;
}

.products__item-button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $azure-background  transparent transparent;
}

.products__item-button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  transform: rotate(90deg);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $azure-background transparent transparent;
}
