.products--index {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

//Шапка с заголовком и кнопкой
.products__header {
  width: 100%;
  margin: 0 auto;

  padding: 25px 0;
  margin-bottom: 20px;

  text-align: center;
  background-color: $azure-background;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.products h2 {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: $blue-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 30px;
    line-height: 30px;
    text-align: start;
  }
}

.products__link {
  @include button;
  @include button-red;

  width: 192px;
}

//Карточки товаров
.products__item {
  position: relative;

  padding: 5px 0 0;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid $grey-border;
  overflow: hidden;

  transition: all 0.2s ease-in-out;
}

.products__wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 164px;
}

.products__wrapper-image img {
  display: block;
  width: 100%;
}

//Купить/в закладки
.products__wrapper-button {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  width: 55%;
  margin: 0 auto;
}

.products__button-buy,
.products__button-bookmark {
  display: block;
  width: 100%;
  padding: 7px 3px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;

  background-color: $green-dark;
  border-radius: 0;
  border: 3px solid $green-dark;

  transition: all 0.2s ease-in-out;
}

.products__button-buy {
  margin-bottom: 10px;
}

.products__button-buy svg {
  margin-right: 3px;
  fill: $white;
  opacity: 0.3;
}

.products__button-bookmark {
  color: $blue-text;
  background-color: $white;
}

.products__button-bookmark--active,
.products__button-buy--active {
  color: $white;
  background-color: $red;
  border: 3px solid $red;
}

.products__button-buy--active svg {
  opacity: 1;
}

.products__description {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  padding: 21px 0;

  background-color: $azure-background;
}

.products__item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: $black;
}

.products__item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: $grey-text;
}

.products__item-button {
  position: relative;

  width: 141px;
  margin: 0 auto;
  padding: 7px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $white;

  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: $red-button;
}

.products__item-button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $azure-background transparent transparent;
}

.products__item-button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  transform: rotate(90deg);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $azure-background transparent transparent;
}
/*=============СТАЙЛГАЙД============*/
//hover
.products__item:hover {
  box-shadow: 0 0 16px 0 rgba($black, 0.5);
}

.products__item:hover img {
  display: none;
}

.products__item:hover .products__wrapper-button {
  display: block;
}

.products__button-buy:hover,
.products__button-bookmark:hover {
  background-color: $green;
  color: $white;

  border: 3px solid $green;
}

.products__button-bookmark--active:hover,
.products__button-buy--active:hover {
  background-color: rgba($red, 0.8);
  color: $white;

  border: 3px solid $red;
}

.products__button-buy:hover svg {
  opacity: 1;
}

//focus
.products__button-buy:focus-visible,
.products__button-bookmark:focus-visible,
.products__link:focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;
}

//active
.products__item-link:active,
.products__button-buy:active,
.products__button-bookmark:active {
  opacity: 0.5;
}

//disabled
.products__button-buy:disabled,
.products__button-bookmark:disabled {
  opacity: 0.2;
}
