.sorting {
  margin-bottom: 28px;
  padding: 10px 20px;

  background-color: $azure-background;
}

.sorting h2 {
  @include font-pt-sans;

  margin: 0;
  margin-bottom: 15px;

  text-transform: uppercase;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    font-weight: 400;
  }
}

.sorting__list {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
  }
}

//Кнопки сортировки
.sorting__button {
  @include font-pt-sans;

  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;

  text-transform: uppercase;
  line-height: 18px;
  opacity: 0.3;

  border: 0;
  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.sorting__button--active {
  color: $yellow;
  opacity: 1;
}

//Кнопка с ценой
.sorting__button--price {
  position: relative;
  padding: 0 15px 0 5px;
}

.sorting__price-icons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: none;
  width: 0;
  height: 0;
  border-style: solid;

  &--up {
    display: inline;

    border-width: 0 5px 10px 5px;
    border-color: transparent transparent $yellow transparent;
  }

  &--down {
    display: inline;

    border-width: 10px 5px 0 5px;
    border-color: $yellow transparent transparent transparent;
  }
}

/*=============СТАЙЛГАЙД============*/
//hover
.sorting__button:hover {
  opacity: 1;
}

//focus
.sorting__button:focus-visible {
  outline: 2px solid $green;
  outline-offset: 2px;

  opacity: 1;
}

//active
.sorting__button:active {
  color: $yellow;
  opacity: 1;
}

//disadled
.sorting__button:disabled {
  opacity: 0.3;
}
