//Colors
$white: #ffffff;
$black:#000000;
$blue-very-dark: #212a3a;
$blue-dark:#293449;
$blue-light:#394a66;
$red:#db1421;
$yellow:#f0710a;
$azure:#105791;
$plum:#d61ccd;
$green:#1bc01e;
$green-dark: #63a63e;
$blue:#0d6efd;

$azure-background: #f3f7f9;
$azure-light-background: #f1f5f7;
$grey-background: #f9f5f0;
$grey-light-background: #f7f3ec;
$brown-background: #5a4a2f;

$yellow-text:#ffd180;
$blue-text: #32425c;
$grey-text:  #a9a9a9;
$white-text: #f1f5f7;

$grey-border: #eaeaea;
$grey-dark-border: #e5e5e5;

$blue-shadow:#405069;

// Viewports
$max-width: 1200px;
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
