//Colors
$white: #ffffff;
$black:#000000;
$blue-very-dark: #212a3a;
$blue-dark:#293449;
$blue-light:#32425c;
$red:#ee3643;
$yellow:#ffbf47;
$azure:#3bbce3;
$plum:#dc91d8;
$green:#8ed78f;
$green-dark: #63a63e;

$azure-background: #f3f7f9;
$azure-light-background: #f1f5f7;
$grey-background: #f9f5f0;
$grey-light-background: #f7f3ec;

$yellow-text:#ffd180;
$blue-text: #32425c;
$grey-text:  #a9a9a9;

$grey-border: #eaeaea;
$grey-dark-border: #e5e5e5;

// Viewports
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
